{% load static %}
<nav class="navbar {% if user.is_authenticated %}navbar-expand-lg{% endif %} navbar-light" style="background-color: #e3f2fd; margin-bottom: 13px;">
  <a class="navbar-brand" href="{% url 'index' %}"><span style="color: red">Ya</span>tube</a>
  {% if user.is_authenticated %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'new_post' %}">Новый пост</a>
        </li>
      </ul>
    </div>
  {% endif %}
  <nav class="my-2 my-md-0 mr-md-3">
    {% if user.is_authenticated %}
      Пользователь: {{ request.user.username }}.
      <div class="dropdown d-inline">
        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"><img src="{% static 'images/settings.png' %}" alt="settings" style="width: 30px"></button>
        <div class="dropdown-menu" style="top: 35px; right: 0; left: auto;">
          <a class="dropdown-item" href="{% url 'profile' request.user.username %}">Профиль</a>
          <a class="dropdown-item" href="{% url 'update-profile' %}">Изменить профиль</a>
          <a class="dropdown-item" href="{% url 'password_change' %}">Изменить пароль</a>
          <a class="dropdown-item" href="{% url 'logout' %}">Выйти</a>
        </div>
      </div>
    {% else %}
      <a class="p-2 text-dark" href="{% url 'login' %}">Войти</a> |
      <a class="p-2 text-dark" href="{% url 'signup' %}">Регистрация</a>
    {% endif %}
  </nav>
</nav>