{% load static %}
{% load thumbnail %}

<div class="card mb-3 mt-4 shadow-sm" id="post_{{ post.id }}">
  <div class="container-fluid">
    <div class="row">
      <div class="img-wrap w-100">
        {% thumbnail post.preview_image "960x339" crop="center" as im %}
          <img alt="" class="card-img" src="{{ im.url }}" style="filter: blur(5px);"/>
        {% endthumbnail %}
        <div>
            <p class="text-white text-center mr-2 ml-2" style="font-size: 3.5vh">{{ post.title }}</p>
            <a href="{% url 'post' post.author.username post.id %}" class="btn btn-light">
              <img class="mr-2" style="margin-bottom: 3px" src="{% static 'images/book-icon.png' %}" alt="" width="16">Читать
            </a>
          </div>
        </div>
      </div>
    </div>

  <div class="card-body">
    <div class="d-flex" style="border: black 2px;">
      {% if post.author.avatar %}
        {% thumbnail post.author.avatar "50x50" crop="center" as im %}
          <img alt="" src="{{ im.url }}" style="border-radius: 15%"/>
        {% endthumbnail %}
      {% else %}
        <img src="{% static 'images/profile-default.jpg' %}" alt="" width="50" style="border-radius: 15%">
      {% endif %}
      <a class="profile-link"
         href="{% url 'profile' post.author.username %}">
        {{ post.author.get_full_name }}
        <br>
        <div style="font-size: .8rem; color: #4776fc">@{{ post.author.username }}</div>
      </a>
    </div>
    <p class="card-text mt-3 ml-3">
      {{ post.preview_text|linebreaksbr }}
    </p>
    <hr>

    {% if post.group %}
      <br>
      <a class="badge badge-pill badge-secondary" href="{% url 'group' post.group.slug %}" style="margin-bottom: 5px;">
        #{{ post.group }}
      </a>
    {% endif %}

    <div class="d-flex justify-content-between align-items-center mt-3 mb-3">
      <div class="btn-toolbar">
        {% if request.user == post.author %}
          <a class="btn btn-sm btn-info text-white" onclick="manageWindow({{ post.id }})" role="button">
            Редактировать
          </a>
        {% endif %}
      </div>
    </div>

    {% include "posts/includes/likes.html" %}
    <div class="float-right mt-1">
      <small class="text-muted">{{ post.pub_date|date:"d E Y H:i" }}</small>
    </div>
  </div>
  <hr class="mt-0">
</div>


<div id="manageModel_{{ post.id }}" class="modal">
  <div class="modal-content">
    <span id="close-manage_{{ post.id }}" class="close">&times;</span>
    <h3>Выберите действие:</h3>
    <a class="btn btn-primary mt-2" href="{% url 'post_edit' post.author.username post.id %}">Изменить содержание</a>
    <a class="btn btn-danger mt-2 text-white" onclick="confirmWindow({{ post.id }})">Удалить пост</a>
  </div>
</div>

<div id="confirmationModel_{{ post.id }}" class="modal">
  <div class="modal-content" style="width: 30%">
    <h3>Вы действительно хотите безвозвратно удалить пост?</h3>
    <div class="mt-4 ml-auto inline-group">
      <a class="btn btn-danger" id="delete-post"
         href="{% url 'delete_post' post.author.username post.id %}?next={{ request.get_full_path }}">Удалить пост</a>
      <a id="close-confirmation_{{ post.id }}" class="btn btn-primary text-white">Отмена</a>
    </div>
  </div>
</div>